body{
    background-color:azure
}
h1{
    color: rgb(16, 16, 91);
    font-family: Helvetica;
    text-align: center; 
    padding: 67px;
}
h2{
    text-align: center;
}
button{
    font-size:40px;
}